# Ignore these directories
.swc
node_modules/
public

# Ignore specific files in the root
.gitignore
.prettierignore
.prettierrc
components.json
package.json
package-lock.json
postcss.config.js
README.md
tailwind.config.js
tsconfig.json
tsconfig.node.json
vite.config.ts